/vendor
/.env
/storage/*.key
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/database/database.sqlite
/bootstrap/cache/*.php
/.phpunit.result.cache
